.container {
  padding: 14rem 1.6rem;
  color: #333;
}

.wrapper {
  composes: container from '../../../../../../styles/layout.module.css';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper > .heading {
  font-size: 4rem;
  font-weight: 400;
}

.latestBlogList {
  padding: 6rem 4rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 4rem;
}

@media (max-width: 600px){
  .latestBlogList{
    flex-wrap: wrap;
    justify-content: center;
  }
}