.alignImages{
     display: flex;
    flex-wrap: wrap;
  justify-content: center;
  padding: 40px calc((100% - (255px * 3)) / 2);
  gap: 5em;
  width:100%; 

  

  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap:10em;

}
.container{
  align-items: center;
    width: 80%;
    margin: auto;
}
.alignImages2{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15em;
}
.resize_fit_center {
  height: 50%;
  width: 50%;
  max-height:100%;
  vertical-align: middle;
}
.column img{
    transition: all .3s ease-in-out; 
}
.column img:hover{
  transform: scale(.9);
}

.imgsiz{
    width:19rem;
    height: 10rem;
}
.adminTravel {
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.adminText {
    font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  text-align: justify;
  font-family: 'luminari', sans-serif;
}
@media (max-width: 600px){
  .alignImages{
    display: flex;
    flex-direction: column;
  }
  .imgsiz{
    height: 100%;
    width: 100%;
    max-height:100%;
    vertical-align: middle;
    display: flex;
}
}
