.container {
  position: relative;
  display: flex;
  max-width: 400px;
  height: 450px;
  overflow: hidden;
  border-radius: 8px;
  color: whitesmoke;
}

.container img {
  object-fit: cover;
  filter: brightness(0.7);
  width: 100%;
  transition: all .2s ease-in-out; 
}

.container img:hover{
  transform: scale(1.1);
}
.container .cityName {
  position: absolute;
  bottom: 1.6rem;
  left: 1.6rem;
}

.container .cityName h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 2px;
}
