/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

button {
  border: initial;
  background-color: initial;
  color: inherit;
  font-family: inherit;
  outline: none;
}

/* Base Styles */
html {
  font-size: 10px;
  height: 100%;
}

#root,
body {
  font-family: 'Luminari', sans-serif;
                                                
  min-height: 100vh;
  width: 100vw;
}
