/* @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bigelow+Rules&family=Bodoni+Moda:opsz,wght@6..96,500&family=Catamaran:wght@400;500&family=Kanit:wght@300&family=Lato:wght@300&family=Maven+Pro&family=Mulish&family=Open+Sans:ital,wght@0,300;1,400&family=Poppins:wght@200;300&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Satisfy&family=Source+Sans+Pro&family=Work+Sans:wght@400;500&display=swap'); */
@import url('http://fonts.cdnfonts.com/css/luminari');
.heroWrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}

.pageHero img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit:cover ;

  z-index: -99999;
  filter: brightness(0.6);
}


.centertext{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-family: 'Luminari', sans-serif;
                                                
    /* text-shadow: .1em .1em 0 rgb(22, 50, 65); */
    letter-spacing: 2px;
    text-align: center;
   
}

.headingtext{
  font-family: 'Luminari', sans-serif;
  font-weight: normal;
  font-size: 60px;
}
.subheading{
  font-weight: normal;
    font-size: 40px;
 }

 .locationtext{
  position: absolute;
  bottom: 8px;
  right: 16px;
  transform: translate(-50%, -50%);
    color:white;
    font-size: 2rem;
    visibility: hidden;
}

.heroWrapper:hover .locationtext{
  visibility: visible;
}
@media (max-width: 600px){
  .centertext{
    font-size: 3rem;
  }
  .headingtext{
    font-size: 40px;
  }
  .subheading{
    font-size: 30px;
  }
}
